{% extends "layout.html" %}
{% block main %}
    <link rel="stylesheet" href="static/css/about.css" />
    <div class='column left'>
        <img class='iconformat' src="static/img/logo_index.PNG">
    </div>
    <div class='column middle'>
        <h1 class='center'>About Syncrogym</h1>
        <p class='center'>Syncrogym was created by Oren Gershony and Bryton Lin as a result of poor coordination and timing when it came to working out. Oftentimes, they worked out without each other, because they weren't sure if the other person was available, decreasing motivation and overall performance at the gym. Syncrogym arose out of the necessity to fix this problem. By being able to schedule when they could work out together, it made working out a lot more fun. Oren and Bryton are both sophomores at Eastlake High School, and are looking to enter CS and Medicine fields respectively in the future.</p>
        <h2 class='center'>About Us</h2>
        <p class='center'>Oren Gershony is a current sophomore at Eastlake High School. He initially started working out to get stronger for his main sport, soccer. After a while, he fell in love with the gym and has been going regularly ever since. He also enjoys doing coding, running, piano, and chess when he has free time. He originally started coding in Python, but eventually moved on to Java, C, and other languages. His interest in web development sparked when he was 12, and he learned quickly how to design web servers of his own. He coded this server with Flask,Firestore,Jinja, and Ajax, and the languages that he used were Python,HTML,CSS, and Javascript.</p><br>
        <p class='center'>Bryton Lin is a also Sophomore at Eastlake High School Student who found his passion for the gym over the summer. His first severe injury occurred when he was 7 when he broke his arm. As he got older and went through multiple injuries while playing baseball, he got more and more into how the body works and how to prevent injuries. When he was 12 he tore his rotator cuff and was out for the season. It took a hit on him and he was determined to not let it happen again. During freshmen year of baseball in high school, he suffered a spinal fracture and was again out for freshmen year of baseball. It was painful but he took this as a sign to learn from his mistakes and not let it happen again. His dream is to want to help other people has never died and will continue to make his dream come true.  </p>
        <h2 class='center'>How to use Syncrogym</h2>
        <p class='center'>The most obvious use is to schedule your gym times. By being able to coordinate and chat without your friends, it is easy to find a time that works. Additionally, you can access free gym tips to get you faster results and meet your goals. You can choose from either of three workouts (Push, Pull, or Legs), and receive the workouts that we use ourselves that is guaranteed to show results. </p>
        <div class='center'><a href='mailto:s-ogershony@lwsd.org'><input class='contact' type='submit' value='Contact Us!'></a></div>
    </div>
    <div class='column right'>
        <img class='iconformat' src='static/img/icon_index.jpg'>
    </div>
{% endblock %}