{% extends "layout.html" %}
{% block main %}
    <script src='static/js/friends.js'></script>
    <link rel="stylesheet" href="static/css/friends.css" />
    <div class='friendscontainer'>
        <h2 class='center'>Find A Friend</h2>
        <div class='center'>
            <input id='search_input' type="text" placeholder="Search.." class='search'><br>
            <input type='submit' value='Search' onclick='search();'>
        </div>
        <h2 class='center'>Results</h2>
        <ul class='friend-list' id='displaylist'>
        </ul>
        <br>
        <h1 class='center'><u>My Friends</u></h1>
        <h3 class='center'>Connect with your friends and synchronize your schedules!</h3><br>
        <ul class='friend-list' id='friendslist'>
        </ul>
    </div>
{% endblock %}