{% extends "layout.html" %}
{% block main %}
    <link rel="stylesheet" href="static/css/home.css" />
    <h1 class='center'>Welcome to Syncrogym!</h1><br>
    <h3 class='center'>Syncrogym is where you can have fun with your friends and work out, all at the same time!</h3>
    <img class='watchformat' src='static/img/icon_index.jpg'><br><br><br>
    <img class='homeformat' src='static/img/home_image.jpg'>
    <img class='arrowformat' src='static/img/arrow.jpg'>
    <a href='/friends'><input class='gobutton' type='submit' value="Let's Go!"></a>
{% endblock %}