{% extends "layout.html" %}
{% block main %}
    <link rel="stylesheet" href="/static/css/workouts.css" />
    <h1 class='center'>Common Injuries</h1>
    <table>
        <tr>
            <th>Common Injuries as of 2022</th>
            <th>Information About the Injury</th>
        </tr>
        <tr>
            <th>Muscle Pull and Strain </th>
            <th>Muscles that are easily pulled and the occur the most often is the hamstrings, calves, hip flexors, lower back, and neck muscles. It mostly occurs when a muscle is overly stretched or torn. It mostly occurs as a result of fatigue, overuse, or improper use of a muscle (bad form). Some signs you want to look out for is bruising/swelling or redness at the place it is injured. You could find it difficult to use that muscle too. If it is serious, that muscle could be at pain when it is at rest. Depending on the severity of the injury, it can take from three weeks to several months to heal.  </th>
        </tr>
        <tr>
            <th>Sprained Ankle</th>
            <th>A sprained ankle is an injury that occur when you roll or turn your ankle in such a position that it tears the bands of tissue (ligaments) that hold the bones of your ankle together. The ligaments are there to keep the joints still. Some common causes of a sprained ankle could be when you are running or jumping and you land the wrong way on your ankle. A sprained ankle can take from anywhere from 6 to 12 weeks to heal when it is severe. It can take one to three weeks when it is not as severe. </th>
        </tr>
        <tr>
            <th>Shoulder Injury</th>
            <th>Shoulder injuries are caused by shoulder instability. It happens most with young athletes who play sports such as baseball, football, or any sport involving shoulder strength/movement.  It occurs when the ligaments that hold it together are stretched beyond what they normally hold, and the shoulder becomes unstable. For example, when you pitch with so much force, it could cause the ligaments to slowly stretch apart, eventually causing shoulder separation or sprain. Shoulder strains could take from 4 to 6 weeks if treated properly and its not severe. But it could take 3 to five months if not more if severe.</th>
        </tr>
        <tr>
            <th>Knee Injuries</th>
            <th>Knee injuries occur when there are sprains and tears of soft tissues (meniscus and ligaments), fractures or dislocation. Sudden twists, falls and collisions or excessive force and overuse can result in injuries. Repeated stress on the knee or aging could both be causes of it. Some activities that may cause knee injuries are, barbell squatting with incorrect form since you’re making your knees do more of the work than your hips. Knee pain can also be built up or caused over time from sports such as running. A knee sprain can take up to 6 weeks to heal (minor) while severe sprain can take up to months. </th>
        </tr>
        <tr>
            <th>Shin Splint</th>
            <th>Shin splints is caused from the pulling and tugging of the muscles in the lower leg. It can be caused by the repeated pressure from running and jumping that can cause the bone to become swollen and weakened. Shin splints can be caused by high intensity sport or training, shoes that don’t support your feet, running on hard surfaces, running on uneven terrain or having poor running form. A shin splint usually heals in three to four weeks. </th>
        </tr>
        <tr>
            <th>Tendinitis</th>
            <th>Tendinitis is the inflammation or irritation of a tendon (the fibrous cords that attach muscle to the bone). It is the most common around your shoulders, elbows, wrists, knees and heels. Tendonitis is usually caused by sharp movements or repetitive exercise such as jumping throwing or running. Poor posture or bad form when playing a sport could cause repetitive strain injury (RSI). Poor posture causes a tendon to be pinched or it can lead to a padding in the shoulder called subacromial bursa (a sac of tissue under acromion process of the shoulder) to be rubbed. Most damage heals in approximately two to four weeks but long time (chronic tendinitis can take more than six weeks). Chronic tendinitis is mostly because the sufferer doesn’t let the tendon heal properly.</th>
        </tr>
        <tr>
            <th>Wrist Sprain and Dislocation</th>
            <th>A wrist sprain is a ligament injury and the location is where the bones are out of alignment. Wrist sprain mostly occur when there is a direct blow to the area. Falling and supporting your weight on an outstretched arm or hand can cause the wrist to move awkwardly and sprain it. Sometimes it could occur from abrupt hyperextension (excessive movement of a joint towards one direction). Wrist sprains usually take 2 to 10 weeks to heal but if the injury is worse, it could take longer.  Dislocation can occur when you fall, go through an auto accident or contact during high intensity sports. Dislocation mostly occurs with larger body joints such as the hip or most commonly the shoulder. The dislocated shoulder joint could take from 12 to 16 weeks where as a hip could take from 2 to 3 months.</th>
        </tr>
    </table>
    <div class='center'><a href='/tips'><input class='back' type='submit' value='Back'></a></div>
{% endblock %}