{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" href="/static/css/workouts.css" />
<h1 class='center'>Legs</h1>
<div class='column'>
    <h2 class='center'>Primary Workout</h2>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Repetitions</th>
            <th>What it works</th>
        </tr>
        <tr>
            <th>Leg Press</th>
            <th>4</th>
            <th>12</th>
            <th>Quadriceps, Hamstrings, Glutes, Calves</th>
        </tr>
        <tr>
            <th>Hack Squat</th>
            <th>4</th>
            <th>8</th>
            <th>Glutes, Hamstrings, Quadriceps, Calves</th>
        </tr>
        <tr>
            <th>Leg Extensions</th>
            <th>4</th>
            <th>12</th>
            <th>Quadriceps</th>
        </tr>
        <tr>
            <th>Hamstring Extensions</th>
            <th>4</th>
            <th>8</th>
            <th>Hamstrings</th>
        </tr>
        <tr>
            <th>Weighted Calf Raises</th>
            <th>4</th>
            <th>8</th>
            <th>Calves</th>
        </tr>
    </table>
</div>
<div class='column'>
    <h2 class='center'>Alternative Workout</h2>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Repetitions</th>
            <th>What it works</th>
        </tr>
        <tr>
            <th>Leg Press</th>
            <th>4</th>
            <th>12</th>
            <th>Quadriceps, Hamstrings, Glutes, Calves</th>
        </tr>
        <tr>
            <th>Barbell Squats</th>
            <th>4</th>
            <th>8</th>
            <th>Glutes, Hamstrings, Lower Back</th>
        </tr>
        <tr>
            <th>Inner Thigh Machine</th>
            <th>2</th>
            <th>12</th>
            <th>Inner Thigh</th>
        </tr>
        <tr>
            <th>Outer Thigh Machine</th>
            <th>2</th>
            <th>12</th>
            <th>Outer Thigh</th>
        </tr>
        <tr>
            <th>Weighted Calf Raises</th>
            <th>4</th>
            <th>8</th>
            <th>Calves</th>
        </tr>
    </table>
</div>
<div class='center'><a href='/tips'><input class='back' type='submit' value='Back'></a></div>
{% endblock %}