{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" href="/static/css/workouts.css" />
<h1 class='center'>Pull</h1>
<div class='column'>
    <h2 class='center'>Primary Workout</h2>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Repetitions</th>
            <th>What it works</th>
        </tr>
        <tr>
            <th>Pull Ups</th>
            <th>4</th>
            <th>8</th>
            <th>Lats, Biceps, Deltoids, and Core</th>
        </tr>
        <tr>
            <th>Lateral Pulldown</th>
            <th>4</th>
            <th>12</th>
            <th>Lats</th>
        </tr>
        <tr>
            <th>Preacher Curl</th>
            <th>4</th>
            <th>8</th>
            <th>Biceps</th>
        </tr>
        <tr>
            <th>Dumbbell Curls</th>
            <th>4</th>
            <th>8</th>
            <th>Biceps</th>
        </tr>
        <tr>
            <th>Bicep Cable</th>
            <th>4</th>
            <th>8</th>
            <th>Biceps</th>
        </tr>
    </table>
</div>
<div class='column'>
    <h2 class='center'>Alternative Workout</h2>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Repetitions</th>
            <th>What it works</th>
        </tr>
        <tr>
            <th>Barbell Deadlift</th>
            <th>4</th>
            <th>5</th>
            <th>Glutes, Upper/Lower Back, Core</th>
        </tr>
        <tr>
            <th>Reverse Fly</th>
            <th>4</th>
            <th>8</th>
            <th>Back (Rhomboid Muscles)</th>
        </tr>
        <tr>
            <th>Chin Ups</th>
            <th>4</th>
            <th>8</th>
            <th>Biceps, Lats, Traps, Core, Shoulders</th>
        </tr>
        <tr>
            <th>Seated Dumbbell Curls</th>
            <th>4</th>
            <th>12</th>
            <th>Biceps</th>
        </tr>
        <tr>
            <th>Bicep Curls (Machine)</th>
            <th>4</th>
            <th>8</th>
            <th>Biceps</th>
        </tr>
    </table>
</div>
<div class='center'><a href='/tips'><input class='back' type='submit' value='Back'></a></div>
{% endblock %}