{% extends "layout.html" %}
{% block main %}
    <link rel="stylesheet" href="/static/css/workouts.css" />
    <h1 class='center'>Push</h1>
    <div class='column'>
        <h2 class='center'>Primary Workout</h2>
        <table>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Repetitions</th>
                <th>What it works</th>
            </tr>
            <tr>
                <th>Bench Press</th>
                <th>5</th>
                <th>5</th>
                <th>Chest, Shoulders,Triceps</th>
            </tr>
            <tr>
                <th>Dumbbell Chest Press</th>
                <th>4</th>
                <th>12</th>
                <th>Chest, Shoulders, Triceps</th>
            </tr>
            <tr>
                <th>Tricep Dips</th>
                <th>4</th>
                <th>8</th>
                <th>Triceps</th>
            </tr>
            <tr>
                <th>Tricep Pushdown (Cable)</th>
                <th>4</th>
                <th>8</th>
                <th>Triceps</th>
            </tr>
            <tr>
                <th>Diamond Pushups</th>
                <th>4</th>
                <th>10-12</th>
                <th>Triceps, Shoulders,Chest</th>
            </tr>
        </table>
    </div>
    <div class='column'>
        <h2 class='center'>Alternative Workout</h2>
        <table>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Repetitions</th>
                <th>What it works</th>
            </tr>
            <tr>
                <th>Incline Bench Press</th>
                <th>5</th>
                <th>5</th>
                <th>Chest (Upper Pectorals), Shoulders, Triceps</th>
            </tr>
            <tr>
                <th>Chest Flys</th>
                <th>4</th>
                <th>8</th>
                <th>Chest, Shoulders, Triceps</th>
            </tr>
            <tr>
                <th>Overhead Tricep Extension</th>
                <th>4</th>
                <th>8</th>
                <th>Triceps</th>
            </tr>
            <tr>
                <th>Skull Crushers</th>
                <th>4</th>
                <th>8</th>
                <th>Triceps</th>
            </tr>
            <tr>
                <th>Tricep Pushdown (Machine)</th>
                <th>4</th>
                <th>8</th>
                <th>Triceps</th>
            </tr>
        </table>
    </div><br>
    <div class='center'><a href='/tips'><input class='back' type='submit' value='Back'></a></div>
{% endblock %}